// COLORS
$color-primary: #f79f1f;
$color-primary-light: #ffc312;
$color-primary-dark: #ee5a24;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
